<p style="color: green"><%= notice %></p>

<%= render @entry %>

<div>
  <%= link_to "Edit this entry", edit_users_entry_path(@entry) %> |
  <%= link_to "Back to entries", users_entries_path %>

  <%= button_to "Destroy this entry", [:users, @entry], method: :delete %>
</div>
