<p style="color: green"><%= notice %></p>

<%= render @entry %>

<div>
  <%= link_to "Edit this entry", edit_entry_path(id: @entry.id) %> |
  <%= link_to "Back to entries", entries_path %>

  <%= button_to "Destroy this entry", entry_path(params[:username], @entry), method: :delete %>
</div>
